---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Innovative software utilities",
    description:
      "At TechDNA, we are dedicated to developing simple, innovative and nifty software utilities that simplify your daily tasks and streamline your workflow. Our aim is to help you work smarter, not harder.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "User-friendly design",
    description:
      "We believe in creating software that is user-friendly and easy to use, regardless of technical expertise. Our products are designed to be intuitive, so you can start benefiting from them right away.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Customer support",
    description:
      "While the aim here is to offer simple and easy-to-use tools, we're committed to providing excellent customer support by email if you need it. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Platforms supported",
    description:
      "Majority of our tools will be cross-platform with support for macOS, Linux and Windows, ensuring that you get the most out of your technology. With TechDNA, you can be confident that our products will work seamlessly with your system.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Reliable and efficient",
    description:
      "At TechDNA, we understand the importance of reliable and efficient solutions. Our software utilities are designed to provide the performance and stability you need to get your work done.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Wide range of products",
    description:
      "While we will be starting with 1 or 2 tools, the aim is to provide our users with a wide range of products across categories like automation, productivity, and security, TechDNA is your one-stop shop for all things tech utilities. Whether you're looking to automate tedious processes or improve your workflow, we have the perfect solution for you.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to make day-to-day computer task easy
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are a small startup team from India, and we have started with a vision of
    following points as our vision for growth.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
